{% extends 'base.html' %}
{% load static %}
{% block pagecontent %}
<!-- Page Container -->
<!-- In the PHP version you can set the following options from inc/config file -->
<!-- 'boxed' class for a boxed layout -->
<div id="page-container">
    <!-- Site Header -->
    {% include 'partials/header.html' %}
    <!-- END Site Header -->

    <!-- Home Carousel -->
    <div id="home-carousel" class="carousel carousel-home slide" data-ride="carousel" data-interval="5000">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="active item">
                <section class="site-section site-section-light site-section-top themed-background-default">
                    <div class="container">
                        <h1 class="text-center animation-slideDown hidden-xs"><strong>A Demo for getting frames from Video</strong></h1>
                        <h2 class="text-center animation-slideUp push hidden-xs">Bring your project idea</h2>
                        <p class="text-center animation-fadeIn">
                            <!-- <img src="{% static 'img/placeholders/screenshots/promo_desktop_left.png' %}" alt="Promo Image 1"> -->

                            <button onclick="playVid()" type="button" style="background-color: blue;">Play Video to get circles</button>
                            <!-- <button onclick="playVid()" type="button" style="background-color: blue;">Play Video with Frames</button> -->
                            <button onclick="pauseVid()" type="button" style="background-color: blue;">Pause Video</button><br>

                          <video id="myVideo" width="640" height="560" controls>
                              <source src="{% static 'cells.mp4' %}" type="video/mp4">
                              Your browser does not support the video tag.
                            </video>
                        </p>
                    </div>
                </section>
            </div>
        </div>
        <script> 
            var vid = document.getElementById("myVideo"); 

            // function playVid() { 
            //     vid.play(); 
            //     $.get('/get-frames/', {
            //             'name': 'nobita.mp4',
            //              dataType: 'json'
            //         }, function(data) {
            //             $.each(data['images'], function(index, value) {
            //                  name = value.replace(/^"|"$/g,'');
            //                  html1 = '<img style="height: 100px; width: 90px;" src="/static/frames/'+name+'">'
            //                  $('#appnd_images').append(html1);
            //             });
            //         });
            // } 


            function playVid() { 
                vid.play(); 
                $.get('/get_circle/', {
                        'name': 'cells.mp4',
                         dataType: 'json'
                    }, function(data) {
                        console.log(data);
                        // $.each(data['images'], function(index, value) {
                            // console.log(value);
                             // name = value.replace(/^"|"$/g,'');
                             // html1 = '<img style="height: 100px; width: 90px;" src="/static/frames/'+name+'">'
                             // html1 = '<img style="height: 100px; width: 90px;" src="/static/video/6.avi">'
                            html1 = '<a href="/static/circle_frame.mp4" download> Download </a>';
                             $('#appnd_images').append(html1);
                        // });
                    });
            } 

            function pauseVid() { 
              vid.pause(); 
            } 
        </script>
        <!-- END Wrapper for slides -->
    </div>
    <!-- END Home Carousel -->

    <!-- Promo #1 -->

    <section class="site-content site-section site-slide-content">
        <b> <center>Frames</center></b>
        <div class="container">
            <div class="row">
                <div id="appnd_images">
                </div>
            </div>
            <hr>
        </div>
    </section>
    <!-- END Promo #1 -->

     <!-- <div class="col-sm-6 site-block visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInRight" data-element-offset="-180">
        <img src="{% static 'img/placeholders/screenshots/promo_desktop_left.png' %}" alt="Promo #1" class="img-responsive">
    </div>
    <div class="col-sm-6 col-md-5 col-md-offset-1 site-block visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInLeft" data-element-offset="-180">
        <h3 class="h2 site-heading site-heading-promo"><strong>Clean and Modern</strong> Design</h3>
        <p class="promo-content">ProUI is a professional, modern and solid foundation for your next awesome project. It comes packed with great features that you will love. <a href="features.html">Learn More..</a></p>
    </div> -->
</div>
<!-- END Page Container -->

<!-- Scroll to top link, initialized in {% static 'js/app.js' %} - scrollToTop() -->
<a href="#" id="to-top"><i class="fa fa-angle-up"></i></a>

{% endblock %}