{% extends 'base.html' %}
{% load static %}
{% block pagecontent %}
<!-- Page Container -->
<!-- In the PHP version you can set the following options from inc/config file -->
<!-- 'boxed' class for a boxed layout -->
<div id="page-container">
    <!-- Site Header -->
    {% include 'partials/header.html' %}
    <!-- END Site Header -->

    <!-- Home Carousel -->
    <div id="home-carousel" class="carousel carousel-home slide" data-ride="carousel" data-interval="5000">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="active item">
                <section class="site-section site-section-light site-section-top themed-background-default">
                    <div class="container">
                        <h1 class="text-center animation-slideDown hidden-xs"><strong>A Demo for getting frames from Video</strong></h1>
                        <h2 class="text-center animation-slideUp push hidden-xs">Bring your project idea</h2>
                        <p class="text-center animation-fadeIn">
                            <!-- <img src="{% static 'img/placeholders/screenshots/promo_desktop_left.png' %}" alt="Promo Image 1"> -->

                            <!-- user-profile-image -->
                            <form method="post" action="{% url 'upload_video' %}" id="form-profile"  class="form-horizontal" role="form" enctype="multipart/form-data">
                                {% csrf_token %}
                                <!-- Basic inputs -->
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h6 class="panel-title"><i class="icon-bubble4"></i> Upload Video</h6></div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Mobile: </label>
                                            <div class="col-sm-10">
                                                <input type="file" name="video" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-actions text-right">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- /basic inputs -->

                            </form>

                            <button onclick="playVid()" type="button" style="background-color: blue;">Play Video to extract first 100 frames</button>
                            <!-- <button onclick="playVid()" type="button" style="background-color: blue;">Play Video with Frames</button> -->
                            <button onclick="pauseVid()" type="button" style="background-color: blue;">Pause Video</button><br>
<!-- 
                          <video id="myVideo" width="640" height="560" controls>
                              <source src="{% static 'cells.mp4' %}" type="video/mp4">
                              Your browser does not support the video tag.
                            </video> -->
                            {% if video %}
                                {% for v in video %}
                                    <video id="myVideo" width="400" height="350" controls>
                                        <input type="hidden" id="vid-name" name="vid-name" value="{{v.title}}">
                                        <!-- <source src="{% static 'cells.mp4' %}" type="video/mp4"> -->
                                        <source src="static/{{v.title}}" type="video/mp4">
                                      Your browser does not support the video tag.
                                    </video>   
                                 {% endfor %}
                            {% endif %}
                        </p>
                    </div>
                </section>
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <script> 
            var vid = document.getElementById("myVideo"); 

            function playVid() { 
                vid.play(); 
                var name =  $("#vid-name").val();
                // alert(name);
                $.get('/get-frames/', {
                        // 'name': 'cells.mp4',
                        'name': name,
                         dataType: 'json'
                    }, function(data) {
                        $.each(data['images'], function(index, value) {
                             name = value.replace(/^"|"$/g,'');
                             html1 = '<img class="thumbnail1" style="height: 100px; cursor:pointer; width: 90px; margin: 10px;" src="/static/frames/'+name+'">'
                             $('#appnd_images').append(html1);
                        });
                    });
            } 


            // function playVid() { 
            //     vid.play(); 
            //     $.get('/get_circle/', {
            //             'name': 'cells.mp4',
            //              dataType: 'json'
            //         }, function(data) {
            //             console.log(data);
            //             // $.each(data['images'], function(index, value) {
            //                 // console.log(value);
            //                  // name = value.replace(/^"|"$/g,'');
            //                  // html1 = '<img style="height: 100px; width: 90px;" src="/static/frames/'+name+'">'
            //                  // html1 = '<img style="height: 100px; width: 90px;" src="/static/video/6.avi">'
            //                 html1 = '<a href="/static/circle_frame.mp4" class="btn btn-primary" download> Download </a>';
            //                 setTimeout(function(){ 
            //                      $('#appnd_images').append(html1);
            //                 }, 10000);
            //             // });
            //         });
            // } 

            function pauseVid() { 
              vid.pause(); 
            } 

            // $(".thumbnail1").click(function(){
            //     alert($(this).attr('src'));

            // })

            $(document).on("click",".thumbnail1",function(e) {
                var img_name = $(this).attr('src');
                // alert(img_name);
                 $.get('/get_shape/', {
                        // 'name': 'cells.mp4',
                        'name': img_name,
                         dataType: 'json'
                    }, function(data) {
                        e.preventDefault();  //stop the browser from following
                        window.location.href = 'static/shape/img_shape.png';  
                    });
            });
        </script>
        <!-- END Wrapper for slides -->
    </div>
    <!-- END Home Carousel -->

    <!-- Promo #1 -->

    <section class="site-content site-section site-slide-content">
        <b> <center>Frames</center></b>
        <div class="container">
            <div class="row">
                <div id="appnd_images">
                    <img class="thumbnail1" style="height: 100px;cursor:pointer; width: 90px; margin: 10px;" src="/static/frames/frame45.png">
                </div>
            </div>
            <hr>
        </div>
    </section>
    <!-- END Promo #1 -->

     <!-- <div class="col-sm-6 site-block visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInRight" data-element-offset="-180">
        <img src="{% static 'img/placeholders/screenshots/promo_desktop_left.png' %}" alt="Promo #1" class="img-responsive">
    </div>
    <div class="col-sm-6 col-md-5 col-md-offset-1 site-block visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInLeft" data-element-offset="-180">
        <h3 class="h2 site-heading site-heading-promo"><strong>Clean and Modern</strong> Design</h3>
        <p class="promo-content">ProUI is a professional, modern and solid foundation for your next awesome project. It comes packed with great features that you will love. <a href="features.html">Learn More..</a></p>
    </div> -->
</div>
<!-- END Page Container -->

<!-- Scroll to top link, initialized in {% static 'js/app.js' %} - scrollToTop() -->
<a href="#" id="to-top"><i class="fa fa-angle-up"></i></a>

{% endblock %}