{% load static %}
<!-- <div class="newsletter-popup mfp-hide" id="newsletter-popup-form" style="background-image: url({% static 'images/newsletter_popup_bg.jpg)">
        <div class="newsletter-popup-content">
            <img src="{% static 'images/logo-black.png' %}" alt="Logo" class="logo-newsletter">
            <h2>BE THE FIRST TO KNOW</h2>
            <p>Subscribe to the Porto eCommerce newsletter to receive timely updates from your favorite products.</p>
            <form action="#">
                <div class="input-group">
                    <input type="email" class="form-control" id="newsletter-email" name="newsletter-email" placeholder="Email address" required>
                    <input type="submit" class="btn" value="Go!">
                </div>
            </form>
            <div class="newsletter-subscribe">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="1">
                        Don't show this popup again
                    </label>
                </div>
            </div>
        </div>
</div> -->

<!-- Number View Modal Start -->
<div id="numberView" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">98-000-54-786</h2>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-5">
              <div class="number-view-card-mdl">
                  <br /><br />98-000-54-786
              </div>
              <br />
              <center>
                <div class="product-action">
                    <button class="number-btn-icon"><i class="icon-heart"></i>Add to Wishlist</button>
                    <button class="number-btn-icon"><i class="icon-cart"></i> Add to cart</button>
                </div>
            </center>
          </div><!-- End .col-md-6 -->
          <div class="col-md-7">
            <div class="table-responsive">
              <table class="table number-view-table">
                <tr>
                  <td colspan="2">
                    <div class="ratings-container">
                        <div class="product-ratings">
                            <span class="ratings" style="width:100%"></span> <a href="javascript:;" style="font-family: Arial;">(20 Reviews)</a>
                            <!-- End .ratings -->
                        </div><!-- End .product-ratings -->
                    </div><!-- End .product-container -->
                  </td>
                </tr>
                <tr>
                  <td colspan="2"><span class="product-price">Rs. 3,210</span></td>
                </tr>
                <tr>
                  <td width="50%">Total - 40</td>
                  <td>Sum - 4</td>
                </tr>
                <tr>
                  <td>Likes - 210</td>
                  <td>Views - 2210</td>
                </tr>
                <tr>
                  <td>COD - <span class="badge badge-primary">Yes</span></td>
                  <td>R2P - <span class="badge badge-danger">R2P</span></td>
                </tr>
                <tr>
                  <td colspan="2">Category - 
                    <span class="badge badge-secondary">Triple Zero</span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">Tags - 
                    <span class="badge badge-secondary">000</span>
                    <span class="badge badge-secondary">fancy</span>
                    <span class="badge badge-secondary">vipnumber</span>
                    <span class="badge badge-secondary">786</span>
                  </td>
                </tr>
              </table>
            </div>
          </div>  
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Number View Modal End -->